/* Area do Dorea */

#home {

    display: flex;
    background-color: #D9D9D9;
    height: 700px;
}

#imagem-home{

    margin-left: 168px;
    width: 560px;
    margin-right: 400px;
    
}

#titulo-imagem {
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 30px;
}

img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto 
}

#formulario 
{
    width: 492px;
    height: 550px;
    background-color: #AFAFAF;
    margin-top: 100px;


}

input{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 420px;
    margin-bottom: 27px;
    height: 41px;
    
}

input.nomeCompleto{

    margin-top: 24px;
    
}

button
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 218px;
    height: 44px;
    background-color: #6D736D;
    color: white;
    cursor: pointer;
    border-style:none;
    font-size: 20px;
    
}

button:hover
{
    background-color: #D9D9D9;
    color: black;
}

/* Area do Buzina */
