body{

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/* Area do Dorea */

.home-container {
    display: flex;
    background-color: #D9D9D9;
    height: 700px;
    width: 100%;
}

#imagem-home{
    padding-left: 10rem;
    margin-right: -40px;
    margin-left: 2%;
    width: 50%;
}

#titulo-imagem {
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 30px;
}

img.displayed {
    display: block;
    justify-content: center;
    align-items: center;
}

.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 6rem;
}
#formulario {
    height: 56vh;
    width: 24rem;
    border-radius: 5%;
    background-color: #9c9d9c;
    border: #ffffff;
    padding: 30px;
    top: 340px;
}

input{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    margin: 25px;
    width: 340px;
    height: 35px;
}

input.nomeCompleto{
    margin-top: 24px;
}

#enviar
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22rem;
    height: 4rem;
    border-radius: 10px;
    background-color: #6D736D;
    color: white;
    cursor: pointer;
    border-style:none;
    font-size: 20px;
    margin-top: 5rem;
}

#enviar:hover{
    background-color: rgb(3, 77, 3);
}

#status{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    margin: 25px;
    height: 25px;
    padding: 10px;
    width: 340px;
    color: white;
}

#status.success{
    background-color: rgb(7, 129, 7);
    animation: status 4s ease forwards;

}

#status.error{
    background-color: rgb(214, 11, 11);
    animation: status 4s ease forwards;

}

@keyframes status
{

    0%{
        opacity: 1;
        pointer-events: all;
    }

    90%{
        opacity: 1;
        pointer-events: all;
    }

    100%{
        opacity: 0;
        pointer-events: none;
    }


}

/* Area do Buzina */

#why{
    display:flex;
    background: #EDEDED;
}

#containerwhy{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 600px;
    background-color: #EDEDED;
}

#containerwhy h1{
    height: 2vh;
    width: 40vw;
    font-size: 30pt;
    padding: 0rem 2rem 1rem;
}

#block1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 400px;
    margin-top: 120px;
    margin-left: -33rem;
    background-color: rgb(3, 77, 3);
    border: 1px solid black;
    border-radius: 10px;
    color: white;
}

#block2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 400px;
    margin-top: 120px;
    margin-left: 10rem;
    background-color: rgb(3, 77, 3);
    border: 1px solid black;
    border-radius: 10px;
    color: white;
}

#block3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 400px;
    margin-top: 120px;
    margin-left: 10rem;
    background-color: rgb(3, 77, 3);
    border: 1px solid black;
    border-radius: 10px;
    color: white;
}

.block-img{
    width: 120px;
    height: 120px;
}

#containerwhy p{
    font-size: 12pt;
    text-align: left;
    padding: 1rem 2rem 0rem 2rem;
}

#containerwhy .why-text{
    margin-bottom: -12px;
}

[data-anime]
{
    opacity: 0;
    transition: .3s;
}

[data-anime = "right"]
{

    transform: translate3d(100px, 0, 0);
}

[data-anime].animate
{
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}

[data-anime].animate:hover
{
    transition: 1s ease-in-out;
    transform: scale(1.1);
}

/*Área do Guilherme - Header*/

body{
	margin:0px;
    padding: 0;
}

#header{
	height:150px;
	background-color:rgb(3, 77, 3);
	font-family:'Arial';
	color:white;
	font-size:50px;
	text-align:center;	
	padding-top: 25px;
    padding-bottom: 25px;
}


/*Footer*/
.footer-container{
    height: 480px;
    width: 100%;
    
    
}
#left{
	float:left;
	width:33.4%;
	height:255px;
	font-family:Arial;
    color: white;
	font-size:14px;
	background:rgb(3, 77, 3);
	justify-content:center;
	align-items:center;
    text-indent: 150px;
}
#content{
	width:33.3%;
	height:255px;
	font-family:Arial;
    color: white;
	font-size:14px;
	background-color:rgb(3, 77, 3);
	display:inline-block;
	text-align:justify;
	justify-content:center;
	align-items:center;
    text-indent: 120px;
}
#right{
	float:right;
	width:33.3%;
	height:255px;
	font-family:Arial;
    color: white;
	font-size:14px;
	background-color:rgb(3, 77, 3);
	justify-content:center;
	align-items:center;
    text-indent: 120px;
}
